---
import { Image } from "astro:assets";
const { item } = Astro.props;
const { data } = item;
const imageSrc = data.thumb || data.image;
---

<div class="card lg:card-side bg-base-100 shadow-sm">
  <figure class="w-full h-full">
    {
      imageSrc ? (
        <Image src={imageSrc} alt={data.title} class="object-cover" />
      ) : (
        <div class="w-full h-full bg-gray-200" />
      )
    }
  </figure>

  <div class="card-body justify-between">
    <div>
      <h2 class="card-title">{data.title}</h2>
      <p>{data.shortDescription.slice(0, 150)}&nbsp;...</p>
      {
        data.tags && data.tags.length > 0 && (
          <div class="flex flex-wrap mt-2">
            {data.tags.map((tag: string, index: number) => (
              <>
                <span class="text-xs text-primary">{tag}</span>
                {index < data.tags.length - 1 && <span class="mx-2">^</span>}
              </>
            ))}
          </div>
        )
      }
    </div>
    <div class="card-actions justify-end">
      <a class="btn btn-accent" href={`/work/${item.slug}`}> Read more </a>
    </div>
  </div>
</div>
